{% extends '_layouts/_admin.html.twig' %}

{% block title 'Show Order' %}
{% block h1 'Show Order' %}

{% block body %}
	<a href="{{ path('admin_order_index') }}">back to list</a>
	<div class="container pb-5">
		<table class="table table-borderless mb-5">
			<thead>
				<tr>
					<th>Order Reference</th>
					<th>Date of issue</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ order.reference }}</td>
					<td>{{ order.createdAt ? order.createdAt|date('Y/m/d') : '' }}</td>
				</tr>
			</tbody>
		</table>
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>Billed to</th>
				</tr>
			</thead>
			<tbody>
				{% set user = order.user %}
				<tr>
					<td>
						<div class="column">
							<p>
								{{ user.email }}
							</p>
							<p>
								{{ user.firstname }}
								{{ user.lastname }}
							</p>
								{{ user.address }}
							</p>
							<p>
								{{ user.city }},
								{{ user.country }}
							</p>
							<p>
								{{user.zipcode}}
							</p>
						</div>
					</td>
				</tr>

			</tbody>
		</table>
		<h6 class="mt-5 font-weight-bold text-primary">Order details</h6>
		<table class="table">
			<thead>
				<tr>
					<th>Product name</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				{% for detail in orderDetails %}
					<tr>
						<td>{{detail.product.name}}</td>
						<td>{{detail.quantity}}</td>
						<td>{{detail.price}}€</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="column my-5 px-2">
			<p class="lead" style="font-weight:bold">Total</p>
			<p class="lead">{{total}}
				€</p>
		</div>
	</div>
{% endblock %}
