{% extends '_layouts/_admin.html.twig' %}

{% block title 'Show Category' %}
{% block h1 'Show Category' %}

{% block body %}
	<a href="{{ path('app_admincategory_index') }}">back to list</a>
	<div class="container pb-5">
		<div class="d-flex justify-content-end pb-3">
			{{ include('admin/category/_delete_form.html.twig') }}
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ category.id }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ category.name }}</td>
				</tr>
				{% if category.parent != null %}
					<tr>
						<th>Parent</th>
						<td>{{ category.parent.name }}</td>
					</tr>
				{% endif %}
				<tr>
					<th>Slug</th>
					<td>{{ category.slug }}</td>
				</tr>
			</tbody>
		</table>
		<a href="{{ path('app_admincategory_edit', {'id': category.id}) }}" class="btn btn-warning">Edit</a>
	</div>
{% endblock %}
