{% extends 'base.html.twig' %}

{% block title 'Checkout' %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-6">
				{% set user = app.user %}
				<form action="" method="post">
					<div class="row">
						<div class="col-6 mb-3">
							<label for="exampleFormControlInput1" class="form-label">Firstname</label>
							<input type="email" class="form-control" id="exampleFormControlInput1" value="{{user.firstname}}">
						</div>
						<div class="col-6 mb-3">
							<label for="exampleFormControlInput1" class="form-label">Lastname</label>
							<input type="email" class="form-control" id="exampleFormControlInput1" value="{{user.lastname}}">
						</div>
					</div>
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Email</label>
						<input type="email" class="form-control" id="exampleFormControlInput1" value="{{user.email}}">
					</div>
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Address</label>
						<input type="email" class="form-control" id="exampleFormControlInput1" value="{{user.address}}">
					</div>
					<div class="row">
						<div class="col-6 mb-3">
							<label for="exampleFormControlInput1" class="form-label">City</label>
							<input type="email" class="form-control" id="exampleFormControlInput1" value="{{user.city}}">
						</div>
						<div class="col-6 mb-3">
							<label for="exampleFormControlInput1" class="form-label">Zipcode</label>
							<input type="email" class="form-control" id="exampleFormControlInput1" value="{{user.zipcode}}">
						</div>
					</div>
					<div class="col-6 mb-3">
						<label for="exampleFormControlInput1" class="form-label">Country</label>
						<input type="email" class="form-control" id="exampleFormControlInput1" value="{{user.country}}">
					</div>
				</form>
			</div>
			<div class="col-6">
				<table class="table">
					<thead>
						<tr>
							<th colspan="2">Product</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
							{% set product = item.product %}
							<tr class="align-middle">
								<td>
									{% if product.images is not empty %}
										<img class="card-img-top" src="{{ product.images[0].name }}" style="width:150px" alt="..."/>
									{% else %}
										<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" style="width:150px" alt="..."/>
									{% endif %}
								</td>
								<td>
									{{ product.name }}
								</td>
								<td>{{ product.price }}€</td>
								<td>{{ item.quantity }}</td>
								<td>{{ product.price * item.quantity }}€</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="d-flex justify-content-end  my-5 px-2">
					<div class="column">
						<p class="lead" style="font-weight:bold">Total</p>
						<p class="lead">{{total}}€</p>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
