{% extends '_layouts/_admin.html.twig' %}

{% block title 'Products' %}
{% block h1 'Products' %}

{% block body %}
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Products</h6>
			<input class="form-control" type="number" value="1">
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Price sold</th>
							<th>Quantity</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{product.name}}</td>
								<td>{{product.price}}€</td>
								<td>{{product.quantity > 0 ? product.quantity : "<span class='badge alert-danger'>Sold-out<span>"}}</td>
								<td>{{product.priceSold ? product.priceSold : "<span class='badge alert-secondary'>null<span>"}}</td>
								<td>
									<span class="badge alert-primary">{{product.category.name}}</span>
								</td>
								<td class="d-grid gap-2 d-block">
									<a class="btn btn-warning" href="{{ path('admin_product_edit', {'id': product.id}) }}">Edit</a>
									<a class="btn btn-secondary" href="{{ path('admin_product_show', {'id': product.id}) }}">Show</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="9">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
