{% extends '_layouts/_admin.html.twig' %}

{% block title 'Show Product' %}
{% block h1 'Show Product' %}

{% block body %}
	<a href="{{ path('admin_product_index') }}">back to list</a>
	<div class="container pb-5">
		<div class="d-flex justify-content-end pb-3">
			{{ include('admin/product/_delete_form.html.twig') }}
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ product.id }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ product.name }}</td>
				</tr>
				<tr>
					<th>Content</th>
					<td>{{ product.content }}</td>
				</tr>
				<tr>
					<th>Price</th>
					{% if product.priceSold %}
						<td>
							<span class="text-decoration-line-through">{{ product.price }}€</span>
						</td>
					{% else %}
						<td>{{ product.price }}€</td>
					{% endif %}
				</tr>
				<tr>
					<th>Quantity</th>
					<td>{{product.quantity > 0 ? product.quantity : "<span class='badge alert-danger'>Sold-out<span>"}}</td>
				</tr>
				{% if product.priceSold %}
					<tr>
						<th>PriceSold</th>
						<td>{{product.priceSold}}€</td>
					</tr>
				{% endif %}
				<tr>
					<th>CreatedAt</th>
					<td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Slug</th>
					<td>{{ product.slug }}</td>
				</tr>
				<tr>
					<th>Category</th>
					<td>
						<span class="badge alert-primary">{{ product.category.name }}</span>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-warning">Edit</a>
	</div>
{% endblock %}
