{% for product in products %}
	<div class="col mb-5">
		<div
			class="card h-100">
			<!-- Product image-->
			{% if product.quantity == 0 %}
				<div class="badge bg-danger position-absolute" style="top: 0.5rem; right: 0.5rem">Sold-out</div>
			{% elseif product.priceSold  %}
				<div class="badge bg-dark position-absolute" style="top: 0.5rem; right: 0.5rem">Sold</div>
			{% endif %}

			{% if product.images is not empty %}
				<img class="card-img-top h-50" src="{{ product.images[0].name }}" alt="..."/>
			{% else %}
				<img class="card-img-top h-50" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
			{% endif %}

			<!-- Product details-->
			<div class="card-body p-4">
				<div
					class="text-center">
					<!-- Product name-->
					<h5 class="fw-bolder">{{product.name}}</h5>
					<!-- Product price-->
					{% if product.priceSold %}
						<span class="text-muted text-decoration-line-through">{{product.price}}€</span>
						{{product.priceSold}}€
					{% else %}
						{{product.price}}€
					{% endif %}
				</div>
			</div>
			<!-- Product actions-->
			<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
				<div class="text-center">
					<a class="btn btn-outline-dark mt-auto" href="{{ path('app_product_details', {'slug': product.slug}) }}">View product</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
