{% extends '_layouts/_admin.html.twig' %}

{% block title 'Show User' %}
{% block h1 'Show User' %}

{% block body %}
	<a href="{{ path('admin_user_index') }}">back to list</a>
	<div class="container pb-5">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ user.id }}</td>
				</tr>
				<tr>
					<th>Role</th>
					<td>
						<span class='badge alert-primary'>{{user.roles[0]}}<span></td>
						</tr>
					</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th>Firstname</th>
					<td>{{ user.firstname }}</td>
				</tr>
				<tr>
					<th>Lastname</th>
					<td>{{ user.lastname }}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td>{{ user.address }}</td>
				</tr>
				<tr>
					<th>Zipcode</th>
					<td>{{ user.zipcode }}</td>
				</tr>
				<tr>
					<th>City</th>
					<td>{{ user.city }}</td>
				</tr>
				<tr>
					<th>Country</th>
					<td>{{ user.country }}</td>
				</tr>
				<tr>
					<th>CreatedAt</th>
					<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				{# <tr>
													<th>Orders</th>
													<td>{{ user.orders }}</td>
												</tr> #}
			</tbody>
		</table>
		<a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-warning">Edit</a>
	</div>
{% endblock %}

